/*Google Font Import*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');


.section-title {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin-left: 20px;
	margin-top: 20px;
	color: #726D74;
	font-style: italic;
}

.content-section {
	font-family: 'Roboto', sans-serif;
	height: 100%;
	width:100%; 
	border-style: solid;
	border-color: #BACDB0;
	border-width: 1px;
	background: #F4F7F3
}



/*SANKEY VIS STYLES*/

.node rect {
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}